<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 logo">
				<img src="app/assets/images/logo-white.png" />
			</div>
			<div class="col-sm-10">
				<ul class="nav navbar-nav">
					<li *ngFor="let link of links"><a href="#">{{ link }}</a></li>
					<li><button type="button" class="login" (click)="auth.login()" *ngIf="!auth.authenticated()">Login</button></li>
					<li><button type="button" class="login" (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</button></li>
					<li><a routerLink="profile" class="profile" *ngIf="auth.authenticated()">Profile</a></li>
					<li *ngIf="auth.authenticated()"><button type="button" (click)="isClassVisible = !isClassVisible">Groups</button></li>
				</ul>
				<ul class="groups-dropdown" [class.active]="isClassVisible">
					<li *ngFor="let group of groups"><a routerLink="group/{{ group._id }}">{{ group.name }}</a></li>
					<li routerLink="new_group" *ngIf="auth.authenticated()">Edit Groups</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
