<section class="testemonials">
	<div class="container">
		<h1>What are people doing with Argyle?</h1>
		<div class="row">
			<div class="col-sm-4 col">
				<img src="app/assets/images/headshot1.jpeg" alt="">
				<h4>Organizing Small Group Events</h4>
				<p>Argyle has been a huge asset for my small group. I have a ton of kids each with different interestes and likes. Organizing events used to be a pain, but now I just post a poll and have them vote on what they want to do. Everyone is happy!</p>
				<p><i>Jack Doyle, Buffalo NY</i></p>
			</div>
			<div class="col-sm-4 col">
				<img src="app/assets/images/headshot2.jpeg" alt="">
				<h4>Taking Group Trips</h4>
				<p>Every year, a group of friends and I take a cross-country trip to do some surfing in California. Argyles trip tracking feature has been incredibly helpful for staying connected and informed with other vehicles in our group. Now, we don't have to follow each other the entire way!</p>
				<p><i>Dave Simon, Grand Island NY</i></p>
			</div>
			<div class="col-sm-4 col">
				<img src="app/assets/images/headshot3.jpeg" alt="">
				<h4>Collaborating with my Staff</h4>
				<p>I am the manager of over 40 people at an organization. Argyle has been incredibly useful for organizing different conversations & groups within our staff, assigning tasks for people, and having all my conversations conveniently in one place.</p>
				<p><i>Random Person, Cleveland OH</i></p>
			</div>
		</div>
	</div>
</section>