<section class="new-group">
	<div class="container">
		<h1>Create a New Group</h1>
		<form class="well" (submit)="addGroup($event)">
		      <div class="form-group">
		        <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Add Group..." required>    
		      </div>  
		</form>
		<div class="groups">
			<div class="row groups-list" *ngFor="let group of groups">
				<div class="col-sm-9">
					<h4>{{ group.name }}</h4>		
				</div>
				<div class="col-sm-3">
					<input type="button" (click)="deleteGroup(group._id)" value="Delete" class="btn btn-danger">
				</div>
			</div>
		</div>
	</div>
</section>